extends ../layouts/default

block content
  
      a(class='authicons' href="/auth/facebook")
        img(src="/img/icons/facebook.png")
      a(class='authicons' href="/auth/instagram")
        img(src="/img/icons/instagram.png")
    .span6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type

      block auth
