<section data-ng-controller="ArticlesController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="title">Date</label>
			<div class="controls">
				<input type="text" data-ng-model="date" id="date" placeholder="Date" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="title">Time</label>
			<div class="controls">
				<input type="text" data-ng-model="time" id="time" placeholder="Time" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="title">Items to Bring</label>
			<div class="controls">
				<input type="text" data-ng-model="items" id="items" placeholder="Items, separated by commas" ng-list required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Description</label>
			<div class="controls">
				<textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Description"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>