<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>

			<div class="controls">
				<input type="text" data-ng-model="article.title" id="title" placeholder="Title" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Date</label>

			<div class="controls">
				<textarea data-ng-model="article.date" id="title" placeholder="Date" required>
				</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Time</label>

			<div class="controls">
				<textarea data-ng-model="article.time" id="title" placeholder="Time" required>
				</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Items to Bring</label>

			<div class="controls">
				<textarea data-ng-model="article.items" id="title" placeholder="Items to Bring" required>
				</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Description</label>

			<div class="controls">
				<textarea data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Describe Your Event!">
				</textarea>
			</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>