<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<ul class="articles unstyled">
		<li data-ng-repeat="article in articles">
			<!-- <span>{{article.created | date:'medium'}}</span> / -->
			<span>Created by {{article.user.name}}</span>
			<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
			<div>What to bring: {{article.items}}</div>
			<div>Date / Time: {{article.date}} {{article.time}}</div>
			<div>Description: {{article.content}}</div>
			
		</li>
	</ul>
	<h1 data-ng-hide="!articles || articles.length">No events yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</section>