<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<ul class="articles unstyled">
		<li data-ng-repeat="article in articles">
			<!-- <span>{{article.created | date:'medium'}}</span> / -->
			<!-- <span>{{article.user.name}}</span> -->
			<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
			<div>{{article.content}}</div>
				<iframe id="instimg-iframe" src="http://imageagram.com/slide.php?q=h&search=tag:{{article.title}}&wt=sl&s=125&h=3&w=3&b=no&c=&p=5&ho=fadeIn&sh=no" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:136px; height: 136px" ></iframe>
		</li>
	</ul>
</section>