<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<ul class="articles unstyled">
		<li data-ng-repeat="article in articles">
			<!-- <span>{{article.created | date:'medium'}}</span> / -->
			<!-- <span>{{article.user.name}}</span> -->
			<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
			<div>{{article.content}}</div>
				<iframe id="iframecode" onload="" scrolling="yes" frameborder="0" width="256" src="http://instaembedder.com/gallery.php?username=&amp;hashtag={{article.title}}&amp;width=100&amp;cols=2&amp;frame=1&amp;image_border=10&amp;rows=1&amp;cell_margin=10&amp;display_username=0&amp;likes=0&amp;comments=0&amp;date=0&amp;link=0&amp;caption=0&amp;color=gray" style="height: 233px;"></iframe>
				<img src = "https://api.instagram.com/v1/media/popular?access_token=79ce1ef121c445d2942126812021c8c5">

		</li>
	</ul>
</section>